<template>
    <div id="app">
        <router-view></router-view>
        <vue-progress-bar></vue-progress-bar>
        <div id="fb-root"></div>
        <div 
            class="fb-customerchat" attribution=setup_tool v-bind:page_id="page_id" 
            v-bind:logged_in_greeting="greeting" v-bind:logged_out_greeting="greeting">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                base_url : document.head.querySelector('meta[name="base_url"]').content,
                page_id : 100616447968411,
                greeting : "Hai , senang bisa berjumpa denganmu .. Klik icon untuk memulai !"
            };
        }
    };
</script>
