<template>
    <section class="section is-family-monospace has-background-white-bis">
        <div class="container is-fluid">
            <div class="columns is-multiline is-centered">
                <div v-for="r in robot" class="column is-one-quarter" v-bind:key="r.name">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content has-text-centered">
                                    <p class="title is-4 is-capitalized" v-bind:class="{'has-text-black': r.status, 'has-text-danger': !r.status}">{{ r.name }}</p>
                                    <p class="subtitle is-7">
                                        <a class="has-text-link" href="javascript:void(0)" v-on:click="action(r.url)">{{ r.url }}</a>
                                    </p>
                                </div>
                            </div>

                            <div class="content has-text-dark">
                                {{ r.description }}
                                <br>
                                <time class="is-size-7 has-text-grey" datetime="2016-1-1">{{ r.start }} ({{ r.date_diff }}s)</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    const axios = require('axios');
    export default {
        data () {
            return {
                robot : []
            }
        },
        mounted () {
            this.fetch_robot();
        },
        methods : {
            action : function (url) {
                var self = this;
                this.$Progress.start();

                axios.get(url)
                    .then(function (response) {
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .finally(function () {
                        self.$Progress.finish();
                        self.fetch_robot();
                    });
            },
            fetch_robot : function () {
                var self = this;

                axios.get(this.$parent.base_url + '/api/robot')
                    .then(function (response) {
                        self.robot = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .finally(function () {
                    });
            }
        }
    };
</script>